@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
    }

    .root {
        background: linear-gradient(120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0));
    }

    .background {
        background: linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
    }

    .toggle-input-blue:checked {
        background-color: #3b82f6;
    }

    .toggle-input-green:checked {
        background-color: #22c55e;
    }

    .toggle-input:checked ~ span:last-child {
        --tw-translate-x: 2rem;
    }
}
